extends layout

block content
  h1 Ajouter une bar
  form(id='bar-create', method='post', action='/bars/update', enctype='multipart/form-data')
    input(name='id', id='id', type='hidden', value='#{objId}')
    label(for='name') Nom :
    input(name='name', id='name', type='text')
    br
    label(for='address') Adresse :
    input(name='address', id='address', type='text', placeholder='28 rue du Colisée, 75012')
    br
    label(for='happy_start') Debut du Happy Hour :
    input(name='happy_start', id='happy_start', type='number', placeholder='18')
    br
    label(for='happy_end') Fint duHappy Hour :
    input(name='happy_end', id='happy_end', type='number', placeholder='21')
    br
    label(for='lat') Latitude :
    input(name='lat', id='lat', type='number')
    br
    label(for='long') Latitude :
    input(name='long', id='long', type='number')
    br
    label(for='desc') Description :
    textarea(name='desc', id='desc', rows='8', cols='40')
    br
    label(for='photo') Photo :
    input(name='photo', id='long', type='text')
    br
    input(type='submit', value='Ajouter')