body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

label{
    margin-right: 20px;
    width: 140px;
    text-align: right;
    display: inline-block;
}

#desc { vertical-align: top;}

input[type='text'] { width: 220px;}
input[type='submit'] { margin-left: 410px;}